<aside class="col-xs-12 col-sm-4 col-md-3 chat">
    <div class="panel panel-primary" data-ng-disabled="true">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span> <h3 class="panel-title chat__title">Chat</h3>
        </div>
        <div class="panel-body chat__panel">
            <ul class="list-group chat__log">
                <li class="list-group-item" data-ng-repeat="message in chatLog">
                    <message data-message="message" data-player-name="playerName" data-players="players"></message>
                </li>
            </ul>
        </div>
    </div>

    <form role="form" novalidate name="form">
        <div class="chat__message col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" required data-ng-max="50" placeholder="Mensaje..." data-ng-model="message" focus>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" data-ng-enable='form.$valid' data-ng-click="sendMessage()">Enviar</button>
                </span>
            </div>
        </div>
    </form>
</aside>