<section class="col-xs-12 col-sm-8 col-md-9 game">
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-offset-1 col-md-10 text-center player_horizontal">
            <avatar data-player-name="getPlayer(2)" data-players="room.players" data-main-player="false"></avatar>
        </div>
    </div>

    <div class="row row--equal">
        <div class="hidden-xs hidden-sm col-md-1 text-center player_vertical">
            <avatar data-player-name="getPlayer(3)" data-players="room.players" data-main-player="false"></avatar>
        </div>
        <div class="col-xs-12 col-md-10 game__container">
            <game-table data-room="room" data-player-name="playerName"></game-table>
        </div>
        <div class="hidden-xs hidden-sm col-md-1 text-center player_vertical">
            <avatar data-player-name="getPlayer(1)" data-players="room.players" data-main-player="false"></avatar>
        </div>
    </div>

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-offset-1 col-md-10 text-center player_horizontal">
            <avatar data-player-name="playerName" data-players="room.players" data-main-player="true"></avatar>
        </div>
    </div>
</section>


