<div class="game-table">
    <div class="game-table__row">
        <div class="game-table__avatar">
            <div class="visible-xs visible-sm">
                <avatar data-player-name="getPlayer(3)" data-players="room.players" data-main-player="false"></avatar>
            </div>
        </div>
        <div class="game-table__player game-table__player--horizontal">
            <div class="card card--empty"></div>
            <div class="card card--empty"></div>
            <div class="card card--empty"></div>
            <div class="card card--empty"></div>
        </div>
        <div class="game-table__avatar">
            <div class="visible-xs visible-sm">
                <avatar data-player-name="getPlayer(2)" data-players="room.players" data-main-player="false"></avatar>
            </div>
        </div>
    </div>
    <div class="game-table__row">
        <div class="game-table__player game-table__player--vertical">
            <div class="card card--empty"></div>
            <div class="card card--empty"></div>
            <div class="card card--empty"></div>
            <div class="card card--empty"></div>
        </div>
        <div class="game-table__actions"></div>
        <div class="game-table__player game-table__player--vertical game-table__player--vertical--mirror">
            <div class="card card--empty"></div>
            <div class="card card--empty"></div>
            <div class="card card--empty"></div>
            <div class="card card--empty"></div>
        </div>
    </div>
    <div class="game-table__row">
        <div class="game-table__avatar">
            <div class="visible-xs visible-sm">
                <avatar data-player-name="playerName" data-players="room.players" data-main-player="true"></avatar>
            </div>
        </div>
        <div class="game-table__player game-table__player--horizontal">
            <div class="card card--empty"></div>
            <div class="card card--empty"></div>
            <div class="card card--empty"></div>
            <div class="card card--empty"></div>
        </div>
        <div class="game-table__avatar">
            <div class="visible-xs visible-sm">
                <avatar data-player-name="getPlayer(1)" data-players="room.players" data-main-player="false"></avatar>
            </div>
        </div>
    </div>
</div>