<div class="game-table">
    <div class="game-table__row">
        <div class="game-table__empty"></div>
        <div class="game-table__player game-table__player--horizontal">
            <div class="card card--o1"></div>
            <div class="card card--o2"></div>
            <div class="card card--o3"></div>
            <div class="card card--o10"></div>
        </div>
        <div class="game-table__empty"></div>
    </div>
    <div class="game-table__row">
        <div class="game-table__player game-table__player--vertical">
            <div class="card card--b1"></div>
            <div class="card card--b2"></div>
            <div class="card card--b3"></div>
            <div class="card card--b10"></div>
        </div>
        <div class="game-table__actions"></div>
        <div class="game-table__player game-table__player--vertical game-table__player--vertical--mirror">
            <div class="card card--c1"></div>
            <div class="card card--c2"></div>
            <div class="card card--c3"></div>
            <div class="card card--c10"></div>
        </div>
    </div>
    <div class="game-table__row">
        <div class="game-table__empty"></div>
        <div class="game-table__player game-table__player--horizontal">
            <div class="card card--e1"></div>
            <div class="card card--e2"></div>
            <div class="card card--e3"></div>
            <div class="card card--e10"></div>
        </div>
        <div class="game-table__empty"></div>
    </div>
</div>