<div class="game-table">
    <div class="game-table__row">
        <div class="game-table__avatar">
            <div class="visible-xs visible-sm">
                <avatar data-player-name="getPlayer(3)" data-players="room.game.players" data-main-player="false"></avatar>
            </div>
        </div>
        <div class="game-table__player game-table__player--horizontal">
            <div class="card" data-ng-class="getCardsClassesForPlayer(2)[0]"></div>
            <div class="card" data-ng-class="getCardsClassesForPlayer(2)[1]"></div>
            <div class="card" data-ng-class="getCardsClassesForPlayer(2)[2]"></div>
            <div class="card" data-ng-class="getCardsClassesForPlayer(2)[3]"></div>
        </div>
        <div class="game-table__avatar">
            <div class="visible-xs visible-sm">
                <avatar data-player-name="getPlayer(2)" data-players="room.game.players" data-main-player="false"></avatar>
            </div>
        </div>
    </div>
    <div class="game-table__row">
        <div class="game-table__player game-table__player--vertical">
            <div class="card" data-ng-class="getCardsClassesForPlayer(3)[0]"></div>
            <div class="card" data-ng-class="getCardsClassesForPlayer(3)[1]"></div>
            <div class="card" data-ng-class="getCardsClassesForPlayer(3)[2]"></div>
            <div class="card" data-ng-class="getCardsClassesForPlayer(3)[3]"></div>
        </div>
        <div class="game-table__actions">
            <game-actions data-player-name="playerName" data-room="room"></game-actions>
        </div>
        <div class="game-table__player game-table__player--vertical game-table__player--vertical--mirror">
            <div class="card" data-ng-class="getCardsClassesForPlayer(1)[0]"></div>
            <div class="card" data-ng-class="getCardsClassesForPlayer(1)[1]"></div>
            <div class="card" data-ng-class="getCardsClassesForPlayer(1)[2]"></div>
            <div class="card" data-ng-class="getCardsClassesForPlayer(1)[3]"></div>
        </div>
    </div>
    <div class="game-table__row">
        <div class="game-table__avatar">
            <div class="visible-xs visible-sm">
                <avatar data-player-name="playerName" data-players="room.game.players" data-main-player="true"></avatar>
            </div>
        </div>
        <div class="game-table__player game-table__player--horizontal">
            <div class="card" data-ng-class="getCardsClassesForPlayer(0)[0]"></div>
            <div class="card" data-ng-class="getCardsClassesForPlayer(0)[1]"></div>
            <div class="card" data-ng-class="getCardsClassesForPlayer(0)[2]"></div>
            <div class="card" data-ng-class="getCardsClassesForPlayer(0)[3]"></div>
        </div>
        <div class="game-table__avatar">
            <div class="visible-xs visible-sm">
                <avatar data-player-name="getPlayer(1)" data-players="room.game.players" data-main-player="false"></avatar>
            </div>
        </div>
    </div>
</div>