<div class="row">
    <div class="row room__header">
        <h2 class="col-sx-12 col-sm-8 col-md-9">
            Mesa:
            <span class="text-muted" data-ng-bind="room.name"></span>
        </h2>
        <div class="col-sx-12 col-sm-4 col-md-3">
            <button type="button" class="btn btn-danger btn-block" data-ng-click="leaveRoom()">Abandonar Mesa</button>
        </div>
    </div>
    <game data-player-name="playerName" data-room="room"></game>
    <chat data-player-name="playerName" data-players="room.game.players"></chat>
</div>