@mixin avatarColors($color, $lightenPercentage) {
  div {
    background-color: $color;
    color: lighten($color, $lightenPercentage);
  }
  strong {
    color: $color;
  }
  @extend %avatar;
}

.avatar {
  margin-top: 1em;
  margin-bottom: 1em;
  &__player {
    &--0 {
      @include avatarColors($player-0, 40%);
    }
    &--1 {
      @include avatarColors($player-1, 40%);
    }
    &--2 {
      @include avatarColors($player-2, 30%);
    }
    &--3 {
      @include avatarColors($player-3, 40%);
    }
    &--null {
      @include avatarColors($player-null, 30%);
    }
  }
}

%avatar {
  div {
    width: 5em;
    height: 5em;
    border-radius: 1em;
    line-height: 5em;
    &:before {
      font-size: 3em;
    }
  }
  strong {
    display: block;
  }
}