.chat {
  &__panel {
    padding: 0;
  }
  &__log {
    height: 35em;
    overflow-y: scroll;
    margin: 0;
    li {
      border-left: 0;
      border-right: 0;
      &:first-child, &:last-child {
        border-radius: 0;
      }
    }
  }
  &__message {
    padding: 0;
    margin-bottom: 1em;
  }
}