%backAndFront {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card {

  width: 100%;
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  &__container {
    display: inline-block;
    border-radius: 0.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 1px white;
    @media (min-width: $screen-md-min) {
      border: solid 2px white;
    }
    perspective: 1000px;
    //overflow: hidden;

    &.card--flip .card__flipper {
      transform: rotateY(180deg);
    }
    &--selected {
      border-color: yellow;
    }
  }

  &__flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &--front {
    @extend %backAndFront;
    transform: rotateY(180deg);
  }

  &--back {
    @extend %backAndFront;
    z-index: 2;
    transform: rotateY(0deg);
  }

  $percentage: 1/9;

  //oros
  @for $i from 1 through 10 {
    &--o#{$i} {
      background: url('../img/oros.png') 0 percentage(($i - 1) * $percentage);
      background-size: 100%;
    }
  }

  //copas
  @for $i from 1 through 10 {
    &--c#{$i} {
      background: url('../img/copas.png') 0 percentage(($i - 1) * $percentage);
      background-size: 100%;
    }
  }

  //espadas
  @for $i from 1 through 10 {
    &--e#{$i} {
      background: url('../img/espadas.png') 0 percentage(($i - 1) * $percentage);
      background-size: 100%;
    }
  }

  //bastos
  @for $i from 1 through 10 {
    &--b#{$i} {
      background: url('../img/bastos.png') 0 percentage(($i - 1) * $percentage);
      background-size: 100%;
    }
  }

  //reverse
  &--reverse {
    background: url('../img/reverse.png') 0 0%;
    background-size: 100%;
  }

  $animation-delay: 0.20s;

  &__animation {

    &--in {
      @for $i from 0 through 3 {
        &--player#{$i} {
          -webkit-animation: card-animation-in-p#{$i} $animation-delay linear both;
          animation: card-animation-in-p#{$i} $animation-delay linear both;
        }
      }
    }

    &--out {
      @for $i from 0 through 3 {
        &--player#{$i} {
          -webkit-animation: card-animation-out-p#{$i} $animation-delay linear both;
          animation: card-animation-out-p#{$i} $animation-delay linear both;
        }
      }
    }

  }

  @for $i from 1 through 16 {
    &__order#{$i} {
      -webkit-animation-delay: $i * $animation-delay;
      animation-delay: $i * $animation-delay;
    }
  }

  // Animation deal card (in)
  @-webkit-keyframes card-animation-in-p0 {
    0% {
      opacity: 0;
      -webkit-transform: translate(0px,-100px) rotateZ(0deg);
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,-50px) rotateZ(180deg);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes card-animation-in-p0 {
    0% {
      opacity: 0;
      -webkit-transform: translate(0px,-100px) rotateZ(0deg);
      transform: translate(0px,-100px) rotateZ(0deg);
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,-50px) rotateZ(180deg);
      transform: translate(0px,-50px) rotateZ(180deg);
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes card-animation-in-p1 {
    0% {
      opacity: 0;
      -webkit-transform: translate(0px,-100px) rotateZ(270deg);
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,-50px) rotateZ(90deg);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes card-animation-in-p1 {
    0% {
      opacity: 0;
      -webkit-transform: translate(0px,-100px) rotateZ(270deg);
      transform: translate(0px,-100px) rotateZ(270deg);
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,-50px) rotateZ(90deg);
      transform: translate(0px,-50px) rotateZ(90deg);
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes card-animation-in-p2 {
    0% {
      opacity: 0;
      -webkit-transform: translate(0px,100px) rotateZ(360deg);
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,50px) rotateZ(180deg);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes card-animation-in-p2 {
    0% {
      opacity: 0;
      -webkit-transform: translate(0px,100px) rotateZ(0deg);
      transform: translate(0px,100px) rotateZ(0deg);
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,50px) rotateZ(180deg);
      transform: translate(0px,50px) rotateZ(180deg);
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes card-animation-in-p3 {
    0% {
      opacity: 0;
      -webkit-transform: translate(0px,-100px) rotateZ(90deg);
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,-50px) rotateZ(270deg);
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes card-animation-in-p3 {
    0% {
      opacity: 0;
      -webkit-transform: translate(0px,-100px) rotateZ(90deg);
      transform: translate(0px,-100px) rotateZ(90deg);
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,-50px) rotateZ(270deg);
      transform: translate(0px,-50px) rotateZ(270deg);
    }
    100% {
      opacity: 1;
    }
  }

  // Animation discard card (out)
  @-webkit-keyframes card-animation-out-p0 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,-50px) rotateZ(180deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0px,-100px) rotateZ(0deg);
    }
  }

  @keyframes card-animation-out-p0 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,-50px) rotateZ(180deg);
      transform: translate(0px,-50px) rotateZ(180deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0px,-100px) rotateZ(0deg);
      transform: translate(0px,-100px) rotateZ(0deg);
    }
  }

  @-webkit-keyframes card-animation-out-p1 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,-50px) rotateZ(90deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0px,-100px) rotateZ(270deg);
    }
  }

  @keyframes card-animation-out-p1 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,-50px) rotateZ(90deg);
      transform: translate(0px,-50px) rotateZ(90deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0px,-100px) rotateZ(270deg);
      transform: translate(0px,-100px) rotateZ(270deg);
    }
  }

  @-webkit-keyframes card-animation-out-p2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,50px) rotateZ(180deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0px,100px) rotateZ(360deg);
    }
  }

  @keyframes card-animation-out-p2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,50px) rotateZ(180deg);
      transform: translate(0px,50px) rotateZ(180deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0px,100px) rotateZ(0deg);
      transform: translate(0px,100px) rotateZ(0deg);
    }
  }

  @-webkit-keyframes card-animation-out-p3 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,-50px) rotateZ(270deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0px,-100px) rotateZ(90deg);
    }
  }

  @keyframes card-animation-out-p3 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
      -webkit-transform: translate(0px,-50px) rotateZ(270deg);
      transform: translate(0px,-50px) rotateZ(270deg);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0px,-100px) rotateZ(90deg);
      transform: translate(0px,-100px) rotateZ(90deg);
    }
  }

}
