.game-table {
  display: table;
  margin: auto;
  font-size: 2.1vw;
  @media (min-width: $screen-sm-min) {
    font-size: 1vw;
  }
  @media (min-width: $screen-md-min) {
    font-size: 1vw;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 1vw;
  }
  &__row {
    display: table-row;
  }
  &__avatar {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    .avatar__player--0 strong {
      color: lighten($player-0, 40%);
    }
    .avatar__player--1 strong {
      color: lighten($player-1, 40%);
    }
    .avatar__player--2 strong {
      color: lighten($player-2, 30%);
    }
    .avatar__player--3 strong {
      color: lighten($player-3, 40%);
    }
  }
  &__player {
    display: table-cell;
    padding: 0.5em;
    .card {
      width: 5em;
      height: 7.7em;
      @media (min-width: $screen-sm-min) {
        width: 5.8em;
        height: 9em;
      }
      @media (min-width: $screen-md-min) {
        width: 5em;
        height: 7.7em;
      }
      @media (min-width: $screen-lg-min) {
        width: 5.5em;
        height: 8.4em;
      }
      background-size: 100%;
      &--selected {
        border: 2px solid yellow;
      }
    }
    &--horizontal {
      text-align: center;
      vertical-align: middle;
    }
    &--vertical {
      position: relative;
      text-align: center;
      padding: 1.5em 0.5em;
      .card {
        display: block;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        margin: -2.5em 1.5em -2.5em 1.5em;
      }
      &--mirror {
        text-align: right;
        .card {
          -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
        }
      }
    }
  }
  &__actions {
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
  }
}