.game {
  margin-bottom: 1em;
  &__container {
    float: none;
    display: table-cell;
    background-color: green;
    padding: 0;
    border-radius: 1em;
  }
  .row--equal {
    display: table;
    margin: 0;
  }
  .player_vertical {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}