@mixin messageColors($color, $lightenPercentage) {
  color: $color;
  background-color: lighten($color, $lightenPercentage);
  border: solid 1px $color;
  &:before {
    border-color: $color transparent transparent transparent;
  }
  &:after {
    border-color: lighten($color, $lightenPercentage) transparent transparent transparent;
  }
}

.message {
  padding: 0.5em;
  border-radius: 0.5em;
  position: relative;
  &--right {
    &:before {
      @extend %bubble;
      right: -10px;
      top: -1px;
      border: 9px solid;
      left: auto;
    }
    &:after {
      @extend %bubble;
      right: -8px;
      top: 0px;
      border: 8px solid;
      left: auto;
    }
  }
  &--left {
    &:before {
      @extend %bubble;
      left: -10px;
      top: -1px;
      border: 9px solid;
      right: auto;
    }
    &:after {
      @extend %bubble;
      left: -8px;
      top: 0px;
      border: 8px solid;
      right: auto;
    }
  }
  &__player {
    &--0 {
      @include messageColors($player-0, 40%);
    }
    &--1 {
      @include messageColors($player-1, 40%);
    }
    &--2 {
      @include messageColors($player-2, 30%);
    }
    &--3 {
      @include messageColors($player-3, 40%);
    }
    &--room {
      @include messageColors($player-null, 30%);
    }
  }
  p {
    margin: 0;
    word-wrap: break-word;
  }
}

%bubble {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  bottom: auto;
}