@mixin avatarMiniColors($color, $lightenPercentage) {
  background-color: $color;
  color: lighten($color, $lightenPercentage);
  @extend %avatar--mini;
}

.action {
  margin-bottom: 2em;
}

.rooms {
  margin: 1em 0;
  li {
    border-left: 0;
    border-right: 0;
    &:first-child, &:last-child {
      border-radius: 0;
    }
    .avatar--mini {
      &--0 {
        @include avatarMiniColors($player-0, 40%);
      }
      &--1 {
        @include avatarMiniColors($player-1, 40%);
      }
      &--2 {
        @include avatarMiniColors($player-2, 30%);
      }
      &--3 {
        @include avatarMiniColors($player-3, 40%);
      }
    }
  }
  &__players {
    min-height: 12em;
  }
}

%avatar--mini {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.3em;
  line-height: 1.5em;
}

