.action {
  margin-bottom: 2em;
}

.room {
  margin: 1em 0;
  li {
    border-left: 0;
    border-right: 0;
    &:first-child, &:last-child {
      border-radius: 0;
    }
  }
}

.roomPlayers {
  min-height: 12em;
}