<div class="ngdialog-message">
    <h3>Nombre de la nueva mesa</h3>
    <input data-ng-model="roomName" />
    <h3>Tu nick</h3>
    <input data-ng-model="playerName" />
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="confirm({roomName: roomName, playerName: playerName})">Confirm</button>
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="closeThisDialog()">Cancel</button>
</div>